{{> slider}}
  
<div class="container">
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0" style="font-size: 40px;font-family:'Dancing Script';">"Say hello to the future"</p>
      </div>
    </div>
    <h3 class="h3">Featured</h3>
    <hr>
    {{#each products}}
    <div class="row">
      {{#each this}}
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="/{{this.id}}">
                        <img class="pic-1" src="{{this.imagePath}}">
                        <img class="pic-2" src="{{this.imagePath}}">
                    </a>
                    <ul class="social"> 
                      <li><a href="/shop/add-to-cart/{{this._id}}" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">20%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="/{{this.id}}">{{this.title}}</a></h3>
                    <div class="price">{{ this.price }}$<span>$20.00</span>
                    </div>
                    <a class="add-to-cart" href="/shop/add-to-cart/{{this._id}}">+ Add To Cart</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>
{{> footer2}}


<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing+Script" />
