{{#each products}}
<main class="container">
 <div class="row">
  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <img src="{{ this.imagePath }} " alt="..." class="img-responsive">
  </div>
 
 
  <!-- Right Column -->
  <div class="right-column">
 
    <!-- Product Description -->
    <div class="product-description">
      <span>{{ this.model }}</span>
      <h1>{{ this.title }}</h1>
      <p>{{ this.description }}</p>
    </div>
 
    <!-- Product Configuration -->
    <div class="product-configuration">
 
      <!-- Product Color -->
    
 
    <!-- Product Pricing -->
    <div class="product-price">
      <span style="margin: left">Price: {{ this.price }}$</span>
      <a href="/add-to-cart/{{this._id}}" class="cart-btn" >Add to cart</a>
    </div>
    <h3 style="text-align: center; border: 1px solid black; margin-top: 30px">{{this.status}}</h3>
  </div>
  </div>
</main>

{{/each}}

<div>
  <hr>

  
</p>
</div>



<link rel='stylesheet' href='/stylesheets/detailpage.css'>


